<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.anytec.security.dao.TbCameraMapper" >
  <resultMap id="BaseResultMap" type="cn.anytec.security.model.TbCamera" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sdk_id" property="sdkId" jdbcType="VARCHAR" />
    <result column="stream_address" property="streamAddress" jdbcType="VARCHAR" />
    <result column="play_address" property="playAddress" jdbcType="VARCHAR" />
    <result column="camera_status" property="cameraStatus" jdbcType="INTEGER" />
    <result column="camera_type" property="cameraType" jdbcType="VARCHAR" />
    <result column="server_label" property="serverLabel" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="serverLabelList" type="java.util.HashMap">
    <result column="server_label" property="serverLabel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sdk_id, stream_address, play_address, camera_status, camera_type, server_label, 
    name, group_id, location, remarks
  </sql>
  <select id="selectServerLabel" resultMap="serverLabelList">
    select distinct server_label from tb_camera
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.anytec.security.model.TbCameraExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_camera
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_camera
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_camera
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.anytec.security.model.TbCameraExample" >
    delete from tb_camera
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.anytec.security.model.TbCamera" >
    insert into tb_camera (id, sdk_id, stream_address, 
      play_address, camera_status, camera_type, 
      server_label, name, group_id, 
      location, remarks
      )
    values (#{id,jdbcType=INTEGER}, #{sdkId,jdbcType=VARCHAR}, #{streamAddress,jdbcType=VARCHAR}, 
      #{playAddress,jdbcType=VARCHAR}, #{cameraStatus,jdbcType=INTEGER}, #{cameraType,jdbcType=VARCHAR}, 
      #{serverLabel,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{groupId,jdbcType=INTEGER}, 
      #{location,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.anytec.security.model.TbCamera" >
    insert into tb_camera
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sdkId != null" >
        sdk_id,
      </if>
      <if test="streamAddress != null" >
        stream_address,
      </if>
      <if test="playAddress != null" >
        play_address,
      </if>
      <if test="cameraStatus != null" >
        camera_status,
      </if>
      <if test="cameraType != null" >
        camera_type,
      </if>
      <if test="serverLabel != null" >
        server_label,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sdkId != null" >
        #{sdkId,jdbcType=VARCHAR},
      </if>
      <if test="streamAddress != null" >
        #{streamAddress,jdbcType=VARCHAR},
      </if>
      <if test="playAddress != null" >
        #{playAddress,jdbcType=VARCHAR},
      </if>
      <if test="cameraStatus != null" >
        #{cameraStatus,jdbcType=INTEGER},
      </if>
      <if test="cameraType != null" >
        #{cameraType,jdbcType=VARCHAR},
      </if>
      <if test="serverLabel != null" >
        #{serverLabel,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.anytec.security.model.TbCameraExample" resultType="java.lang.Integer" >
    select count(*) from tb_camera
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_camera
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sdkId != null" >
        sdk_id = #{record.sdkId,jdbcType=VARCHAR},
      </if>
      <if test="record.streamAddress != null" >
        stream_address = #{record.streamAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.playAddress != null" >
        play_address = #{record.playAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cameraStatus != null" >
        camera_status = #{record.cameraStatus,jdbcType=INTEGER},
      </if>
      <if test="record.cameraType != null" >
        camera_type = #{record.cameraType,jdbcType=VARCHAR},
      </if>
      <if test="record.serverLabel != null" >
        server_label = #{record.serverLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_camera
    set id = #{record.id,jdbcType=INTEGER},
      sdk_id = #{record.sdkId,jdbcType=VARCHAR},
      stream_address = #{record.streamAddress,jdbcType=VARCHAR},
      play_address = #{record.playAddress,jdbcType=VARCHAR},
      camera_status = #{record.cameraStatus,jdbcType=INTEGER},
      camera_type = #{record.cameraType,jdbcType=VARCHAR},
      server_label = #{record.serverLabel,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      group_id = #{record.groupId,jdbcType=INTEGER},
      location = #{record.location,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.anytec.security.model.TbCamera" >
    update tb_camera
    <set >
      <if test="sdkId != null" >
        sdk_id = #{sdkId,jdbcType=VARCHAR},
      </if>
      <if test="streamAddress != null" >
        stream_address = #{streamAddress,jdbcType=VARCHAR},
      </if>
      <if test="playAddress != null" >
        play_address = #{playAddress,jdbcType=VARCHAR},
      </if>
      <if test="cameraStatus != null" >
        camera_status = #{cameraStatus,jdbcType=INTEGER},
      </if>
      <if test="cameraType != null" >
        camera_type = #{cameraType,jdbcType=VARCHAR},
      </if>
      <if test="serverLabel != null" >
        server_label = #{serverLabel,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.anytec.security.model.TbCamera" >
    update tb_camera
    set sdk_id = #{sdkId,jdbcType=VARCHAR},
      stream_address = #{streamAddress,jdbcType=VARCHAR},
      play_address = #{playAddress,jdbcType=VARCHAR},
      camera_status = #{cameraStatus,jdbcType=INTEGER},
      camera_type = #{cameraType,jdbcType=VARCHAR},
      server_label = #{serverLabel,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectInCameraSdkIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_camera where sdk_id in
    <foreach collection="list" index="index" item="cameraSdkIds" open="(" separator="," close=")">
      #{cameraSdkIds}
    </foreach>
  </select>
</mapper>